<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.baidu.bean.Student" name="stu1" init-method="init">
        <property name="age" value="12"></property>
    </bean>

    <bean id="changeTeacher" class="com.baidu.bean.ChangeTeacherBeanFactoryPostProcessor"/>

</beans>
